/* Apply the font family globally */
* {
    font-family: "Poppins", sans-serif;
}

/* Ensure body and html take full height and use flexbox for centering */
body,
html {
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

/* Container width fixed to 375px, centered */
.container {
    width: 319px;
    max-width: 100%;
    margin-top: 30px;
}

/* Center content vertically within the container */
.row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Styling for headings and texts */
h1.h3,
h2 {
    color: var(--Primary-Normal, #92AD42);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.75px;
}

.forderoo {
    color: #586828;
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

/* Button styles */
.btn {
    border: none;
    height: 68px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}

.btn-primary {
    background: #92AD42;
    border-radius: 40px;
    gap: 10px;
}

.btn-primary:hover {
    background: #586828;
}

.btn-secondary {
    color: #92AD42;
    background: #EFF3E3;
    border-radius: 40px;
    border: 2px solid #92AD42;
}

.btn-secondary:hover {
    background: #dde6c4;
    color: #92AD42;
    border: 2px solid #bfce8f;
}


/* Margin for form fields */
.form-fields {
    margin: 30px 0 50px 0;
}

/* Margin for form floating elements */
.form-floating {
    margin-bottom: 10px;
}

/* Styling for form input */
.form-floating input {
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: var(--primary-light-hover, #EFF3E3);
}

/* Color for labels */
.form-floating label {
    color: #989090;
}

/* Form label styling */
.form-floating>.form-control-plaintext~label::after,
.form-floating>.form-control:focus~label::after,
.form-floating>.form-control:not(:placeholder-shown)~label::after,
.form-floating>.form-select~label::after {
    color: #989090;
    background-color: unset;
}

/* Margin for buttons in the button group */
.button-group .btn {
    margin: 5px 0;
}

/* Position the close button in the top left of the alert */
.alert-success {
    position: relative;
    background: #EFF3E3;
    border: 2px solid #92AD42;
}

.alert-danger {
    position: relative;
    background: #f8d7da;
    border: 2px solid #f1aeb5;
}

.alert{
    margin: 30px 0;
}

.alert .alert-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.navbar .container{
    display: flex;
    margin-top:0px;
}

.nav-title .forderoo{
    margin-bottom: 0;
}

.navbar-toggler-icon {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-toggler{
    
}

.search-menu {
    width: 300px;
    border-radius: 15px;
    background-color: #f4f4f4;
    overflow: hidden;
    align-items: flex-start;
    padding: 0 var(--padding-3xs);
    box-sizing: border-box;
}

.search-menu input {
    width: calc(100% - 55px);
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: var(--font-size-mini);
    background-color: transparent;
    height: 23px;
    flex: 1;
    position: relative;
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    min-width: 59px;
    white-space: nowrap;
    padding: 0;
}

.bitcoin-iconssearch-filled {
    height: 35px;
    width: 35px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.menu-items {
    display: flex;
    flex-direction: column;
}

.category-menus {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.kategori {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    box-sizing: border-box;
    gap: 15px;
    padding:30px 10px;
    border-bottom:1px solid #cfd1c9;
    border-top: 1px solid #cfd1c9;
}

article {
    flex-direction: row;
    padding: 0 var(--padding-xs) 0 0;
    display: flex;
    gap: 8px;
}

article h4 {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.price {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
}

.menu-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-43xl) 0 0;
    gap: 8px;
}

.menu-name-fav {
    font-weight: 600;
    display: inline-block;
    min-width: 97px;
}

.menu-desc {
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* letter-spacing: -0.3px; */
}

.menu-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.menu-right .add-to-cart-btn {
    background-color: #eff3e3;
    border: 1px solid #92ad42;
    color: #586828;
    width: 47px;
    height: 30px;
    font-style: normal;
    font-weight: 500;
    border-radius: 10px;
}

.menu-right img {
    width: 78px;
    height: 78px;
    border-radius: 15px;
}

.ionheart-icon {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}


.out-of-stock {
    color: #CC2E2E;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.3px;
}


.quantity-control {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.quantity-control button {
    width: 22px;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #DDE6C4;
    border:none;
    border-radius: 5px;
}

.quantity-control button:hover{
    width: 22px;
    height: 22px;
    gap: 10px;
    border-radius: 5px;
    border:none;
    box-shadow:0px 0px 0px 2px #92AD42 inset;
}

.quantity{
    border-radius: 5px;
    padding:0px 10px;
    color:#6A60607A;
    font-size: 14px;
    border: 1px dashed var(--Primary-Normal, #92AD42);
}