/* Apply the font family globally */
* {
    font-family: "Poppins", sans-serif;
}

/* Ensure body and html take full height and use flexbox for centering */
body,
html {
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

/* Container width fixed to 375px, centered */
.container {
    width: 319px;
    max-width: 100%;
    padding-bottom: 40px;
}

.navbar .container{
    padding-bottom:0px
}

/* Center content vertically within the container */
.row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Styling for headings and texts */
h1.h3,
h2 {
    color: var(--Primary-Normal, #92AD42);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.75px;
}

.forderoo {
    color: #586828;
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

/* Button styles */
.btn {
    border: none;
    height: 68px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}

.btn-primary {
    background: #92AD42;
    border-radius: 40px;
}

.btn-primary:hover {
    background: #586828;
}

.btn-secondary {
    color: #92AD42;
    background: #EFF3E3;
    border-radius: 40px;
    border: 2px solid #92AD42;
}

.btn-secondary:hover {
    background: #dde6c4;
    color: #92AD42;
    border: 2px solid #bfce8f;
}

.btn-success {
    display: flex;
    width: 295px;
    height: 40px;
    padding: 5px 22px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--primary-dark-hover, #586828);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 9999;
    bottom: 0;
}

.btn-success:hover{
    background: var(--primary-dark-hover, #3b441e);
}

/* Margin for form fields */
.form-fields {
    margin: 30px 0 10px 0;
}

/* Margin for form floating elements */
.form-floating {
    margin-bottom: 10px;
}

/* Styling for form input */
.form-floating input {
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: var(--primary-light-hover, #EFF3E3);
}

/* Color for labels */
.form-floating label {
    color: #989090;
}

/* Form label styling */
.form-floating>.form-control-plaintext~label::after,
.form-floating>.form-control:focus~label::after,
.form-floating>.form-control:not(:placeholder-shown)~label::after,
.form-floating>.form-select~label::after {
    color: #989090;
    background-color: unset;
}

/* Margin for buttons in the button group */
.button-group .btn {
    margin: 5px 0;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.msg-box{
    width: 90%;
    display: block;
}

/* Position the close button in the top left of the alert */
.alert-success {
    position: relative;
    background: #EFF3E3;
    border: 2px solid #92AD42;
}

.alert-danger {
    position: relative;
    background: #f8d7da;
    border: 2px solid #f1aeb5;
}

.alert{
    /* margin: 30px 0; */
}

.alert .alert-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.navbar .container{
    display: flex;
    margin-top:10px;
}

.nav-title .forderoo{
    margin-bottom: 0;
}

.navbar-toggler-icon {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-toggler{
    border: none;
}

.search-menu {
    width: 300px;
    border-radius: 15px;
    background-color: #f4f4f4;
    overflow: hidden;
    align-items: flex-start;
    padding: 0 var(--padding-3xs);
    box-sizing: border-box;
    opacity: 50%;
}

.search-menu input {
    width: calc(100% - 55px);
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: var(--font-size-mini);
    background-color: transparent;
    height: 23px;
    flex: 1;
    position: relative;
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    min-width: 59px;
    white-space: nowrap;
    padding: 0;
}

.bitcoin-iconssearch-filled {
    height: 35px;
    width: 35px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.menu-items {
    display: flex;
    flex-direction: column;
}

.category-menus {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.kategori {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    box-sizing: border-box;
    gap: 15px;
    padding:10px 10px 30px 10px;
}

article {
    flex-direction: row;
    padding: 0 var(--padding-xs) 0 0;
    display: flex;
    gap: 8px;
}

article h4 {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.price {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
}

.menu-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-43xl) 0 0;
    gap: 8px;
    width: 240px;
}

.menu-name-fav {
    font-weight: 600;
    display: flex;
    min-width: 97px;
    align-items: center;
    gap: 8px;
    max-width: 174px;
    line-height: 17px;
}

button.btn.btn-outline-danger.favorite-btn:hover {
    background: none;
    color: #92AD42;
}

button.btn.btn-outline-danger.favorite-btn {
    height: 0px;
    padding: 0;
    font-size: 14px;
    margin-bottom: 3px;
}

.menu-desc {
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* letter-spacing: -0.3px; */
}

.menu-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 30%;
}

.menu-right .add-to-cart-btn {
    background-color: #eff3e3;
    border: 1px solid #92ad42;
    color: #586828;
    width: 47px;
    height: 30px;
    font-style: normal;
    font-weight: 500;
    border-radius: 10px;
}

.menu-right img {
    width: 78px;
    height: 78px;
    border-radius: 15px;
}

.ionheart-icon {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}


.out-of-stock {
    color: #CC2E2E;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.3px;
}


.quantity-control {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.quantity-control button {
    width: 22px;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #DDE6C4;
    border:none;
    border-radius: 5px;
}

.quantity-control button:hover{
    width: 22px;
    height: 22px;
    gap: 10px;
    border-radius: 5px;
    border:none;
    box-shadow:0px 0px 0px 2px #92AD42 inset;
}

.quantity{
    border-radius: 5px;
    padding:0px 10px;
    color:#6A60607A;
    font-size: 14px;
    border: 1px dashed var(--Primary-Normal, #92AD42);
}

.text-center{
    color: #1D1D1D;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    margin: 10px 0px 50px 0;
}

.text-decoration-none{
    color: #0081A0;
    font-weight: 500;
}

.h6{
    margin: 0px 0px 60px 0px;
}

.text-decoration-underline{
    color: #92AD42;
    font-size: 12px;
    font-weight: 600;
    font-feature-settings: 'clig' off, 'liga' off;
    font-style: normal;
    line-height: 15px;
    letter-spacing: 0.75px;
}

.checkout{
    display: flex;
    align-items: flex-start;
    /* gap: 19px; */
    height: 30px;

}

.mdi-cart-outline{
    width: 30px;
    height: 30px;
}

.total-item{
    display: flex;
    width: 295px;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    border: 3px solid var(--Primary-Normal, #92AD42);
    background: var(--primary-light-hover, #EFF3E3);
}

.total-pesanan{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    color: var(--Font-Black, #1D1D1D);
    /* Regular/12 */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: auto;
}
.total-harga{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: var(--Font-Black, #1D1D1D);

    /* Regular/12 */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ellipse{
    width: 129px;
    height: 129px;
    stroke-width: 5px;
    stroke: var(--primary-normal-hover, #839C3B);
    
}

.vector{
    width: 57.315px;
    height: 42.94px;
    position: absolute;
    
    fill: var(--primary-normal-hover, #839C3B);
}

.checklist{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.text-group{
    display: flex;
    width: 295px;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    padding-top: 45px;
}

.p1{
    
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.p2{
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mb-3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.form-label{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-control{
    display: flex;
    width: 295px;
    padding: 16px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #E9E9E9;
    background: #F9F9F9;
    flex-shrink: 0;
    color: #999;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 56px;
}

.epback{
    height: 32px;
    flex-shrink: 0;
}

.ionheartred-icon{
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.history-box{
    display: inline-flex;
    height: 150px;
    padding: 14px 26px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 5px solid #D9D9D9;
    background: #FFF;
}

.history-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.item-price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.line{
    width: 270px;
    height: 1px;
    background: #000;
}

.history-time{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
    position: absolute;
    right: 24px;
    top: 18px;
}

.floatbar{
    position: fixed;
    bottom: 20px;
}